################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Stratego/.vs/Stratego/v14
/Stratego/Stratego/obj/Debug
/Stratego/Stratego/Stratego.csproj.user
